body{
    background-color:cornsilk;
    font-family: Arial;
    font-weight: normal;
    font-size: 13px;
}

#headerstyling{
    width: 100%;
    background-color: brown; 
    color: white;
}

a{
    color: orange;
}

#texttonormalfont{
    font-weight: normal;
}

.texttored{
    color: red;
}

table, 
tr,
td, 
tbody{
    border: 2px solid gray;
    border-collapse: collapse;
    border-spacing: 0;
}


